.getshop_product_row { clear:both; border-bottom: solid 1px #BBB; min-height:145px; position:relative; padding: 5px; }
.getshop_product_row .getshop_image { float:left; margin: 10px; }
.getshop_product_row a { text-decoration: none; }
.getshop_product_row .getshop_price { position:absolute; right: 0px; bottom: 0px; z-index:1; padding: 2px; }

.productview .getshop_main_image { float: left; margin: 15px; }
.productview .getshop_long_desc { clear:both; }
.productview .long_desc .getshop_extended_title { margin-top: 10px; font-weight: bold; }
.productview .getshop_short_desc { display:inline-block; padding-top: 20px; }
.productview .getshop_title { position:relative; }
.productview .getshop_buy_button { position:absolute; right: 10px; padding: 5px; }
.productview .getshop_subimages { clear:both; }
.productview .getshop_sub_image { float:left; display:inline-block; margin: 3px; height: 80px; border: 0px !important; }

.gsbutton {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff !important;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff !important;
    box-shadow:inset 0px 1px 0px 0px #ffffff !important;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) ) !important;
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% ) !important;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf') !important;
    background-color:#ededed !important;
    -moz-border-radius:6px !important;
    -webkit-border-radius:6px !important;
    border-radius:6px !important;
    border:1px solid #dcdcdc !important;
    display:inline-block !important;
    color:#777777 !important;
    font-family:arial !important;
    font-size:12px !important;
    cursor:pointer !important;
    font-weight:bold !important;
    width: 80px;
    text-decoration:none !important;
    text-align:center !important;
    text-shadow:1px 1px 0px #ffffff !important;
}.gsbutton:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) ) !important;
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% ) !important;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed') !important;
    background-color:#dfdfdf !important;
}.gsbutton:active {
    position:relative;
    top:1px;
}

.cartview .getshop_title { overflow: hidden; height: 20px; display:inline-block; }
.cartview .getshop_bottom_total, .cartview .getshop_product { position: relative; }
.cartview .getshop_bottom_total .getshop_total { float:right; }
.cartview .getshop_product { border-bottom: solid 1px; height: 150px; padding-left: 170px; margin-bottom: 5px; }
.cartview .getshop_product .getshop_total { position:absolute; right: 0px; bottom: 2px; z-index: 1; border-radius: 0px;  padding: 1px; }
.cartview .getshop_image { position:absolute; left: 0px; }
.cartview .getshop_countcontainer { z-index: 1; position:absolute; right: 270px; bottom: 2px; }
.cartview .getshop_short_desc { position:  absolute; overflow: hidden; height: 105px;  }
.cartview .gsbutton { width: 100%;  }


.checkoutview .gsbutton { width: 100%; margin-top: 20px; }
.checkoutview table{ width: 100%; }
.checkoutview table td input { width: 100%; }
.checkoutview .warning { font-weight: bold; color:#FF0000; }
.checkoutview .payment { display:block; cursor:pointer; border:solid 1px #FFF;

                         transition : border 500ms ease-out; 
                         -webkit-transition : border 500ms ease-out; 
                         -moz-transition : border 500ms ease-out;
                         -o-transition : border 500ms ease-out;      
}
.checkoutview .payment:hover { border: dotted 1px; padding: 0px;  border : 1px dotted #000;  }
#jquery-lightbox { z-index: 5000000 }
#jquery-overlay { z-index: 4999999 }
#lightbox-loading a { display: none; }